.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #131a28;
  color: white;
  justify-content: center;
  align-items: center;
}
.heading-text {
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.square-center {
  justify-content: center;
}

.square-border {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  /* color: ; */
  font-weight: bolder;
  padding: 30px;
  border: 3px solid #FFA500;
}

.clear-button {
  width: max-content;
  margin: 40px auto 10px auto;
}
